<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_pomodoro"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_pomodoro_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PomodoroPUCP"
        tools:targetApi="31">
        <activity
            android:name=".Activities.ConfigActivity"
            android:exported="false"
            android:parentActivityName=".Activities.PomodoroActivity"/>
        <activity
            android:name=".Activities.TareasActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:parentActivityName=".Activities.PomodoroActivity" />
        <activity
            android:name=".Activities.PomodoroActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>